.masteries {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 2rem 2rem;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* gap: 2.1rem; */
    margin: 2rem auto 0;
}

.mastery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100px;
}

.mastery div {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.mastery img {
    width: 100px;
    height: 100px;
    margin: 0 auto .5rem;
}

.mastery .name,
.mastery .level,
.mastery .points {
    text-align: center;
}

.mastery .name {
    font-size: 20px;
    font-weight: 500;
}

.mastery .level span {
    display: inline-block;
    background-color: gray;
    border-radius: .5rem;
    padding: .2rem .4rem;
    width: 80%;
    font-size: 18px;
    font-weight: 700;
}

.mastery .level.level7 span {
    background-color: cyan;
}

.mastery .level.level6 span {
    background-color: purple;
    color: white;
}

.mastery .level.level5 span {
    background-color: darkred;
    color: white;
}

@media only screen and (max-width: 1600px) {
    .masteries {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media only screen and (max-width: 1300px) {
    .masteries {
        column-gap: 1.3rem;
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (max-width: 1000px) {
    .masteries {
        grid-template-columns: auto auto auto auto auto auto;
    }
}

@media only screen and (max-width: 750px) {
    .masteries {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media only screen and (max-width: 650px) {
    .masteries {
        column-gap: 1rem;
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (max-width: 500px) {
    .mastery img {
        width: 80px;
        height: 80px;
    }

    .masteries {
        column-gap: .5rem;
        grid-template-columns: auto auto auto;
    }
}