.victory,
.defeat,
.remake {
    width: 10px;
    align-self: stretch;
}

.victory {
    background-color: #008f00;
}

.defeat {
    background-color: #8f0000;
}

.remake {
    background-color: #555;
}

.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 .5rem 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #070707;
    overflow: hidden;
}

.matchResult > img {
    width: 70px;
    height: 70px;
}

.matchType {
    width: 100%;
    font-size: .9em;
}

.matchItems {
    display: flex;
    gap: .2rem;
    padding: .2rem;
}

.matchItems img {
    width: 40px;
    height: 40px;
}

.matchResult {
    display: flex;
    gap: 1rem;
    align-self: stretch;
    min-width: 265px;
    margin: .8rem 0;
    font-size: 1rem;
}

.resultText {
    font-size: 21px;
    font-weight: bold;
    width: 100px;
}

.match .matchInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.match .noItem {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #050505;
    box-shadow: 0 0 12px 4px #555 inset;
}

.matchKda {
    margin-top: 5px;
    font-size: 1em;
}

.matchDetails {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0 .8rem;
    cursor: pointer;
}

.victory .matchDetails {
    background-color: #005f00;
}

.defeat .matchDetails {
    background-color: #5f0000;
}

.victory .matchDetails:hover {
    background-color: #003f00;
}

.defeat .matchDetails:hover {
    background-color: #3f0000;
}