.victory {
    background-color: #008f00;
}

.defeat {
    background-color: #8f0000;
}

.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--panelcolor); */
    padding-left: .8rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    overflow: hidden;
}

.match > img {
    margin: .8rem 0;
    width: 75px;
    height: 75px;
}

.matchItems {
    display: flex;
    gap: .2rem;
    padding: .2rem;
    /* background-color: var(--darkblue); */
}

.matchItems img {
    width: 40px;
    height: 40px;
}

.match .matchResult {
    font-size: 32px;
    font-weight: bold;
}

.match .matchInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.match .noItem {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #050505;
}

.matchKda {
    margin-top: 5px;
    font-size: 20px;
}

.matchDetails {
    display: flex;
    align-items: center;
    align-self: stretch;
    /* background-color: #050505; */
    padding: 0 .8rem;
    cursor: pointer;
}

.victory .matchDetails {
    background-color: #005f00;
}

.defeat .matchDetails {
    background-color: #5f0000;
}

.victory .matchDetails:hover {
    background-color: #003f00;
}

.defeat .matchDetails:hover {
    background-color: #3f0000;
}