.summonerHeader {
    display: flex;
    gap: 3rem;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
}

.summonerHeader div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.summonerHeader .name {
    font-size: 48px;
    font-weight: 700;
}

.summonerHeader .level {
    font-size: 40px;
}

.summonerHeader img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

@media only screen and (max-width: 750px) {
    .summonerHeader img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .summonerHeader .name {
        font-size: 34px;
        font-weight: 700;
    }
    
    .summonerHeader .level {
        font-size: 28px;
    }
}

@media only screen and (max-width: 500px) {
    .summonerHeader {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .summonerHeader div {
        align-items: center;
        gap: 0;
    }
}