.summonerHeader {
    display: flex;
    gap: 3rem;
    padding-bottom: 1.5rem;
}

.summonerHeader div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.summonerHeader .name {
    font-size: 48px;
    font-weight: 700;
}

.summonerHeader .level {
    font-size: 40px;
}

.summonerHeader img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}