.masteries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 2rem auto 0;
}

.mastery {
    max-width: 100px;
}

.mastery div {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.mastery img {
    width: 100px;
    height: 100px;
}

.mastery .name,
.mastery .level,
.mastery .points {
    text-align: center;
}

.mastery .name {
    font-size: 20px;
    font-weight: 500;
}

.mastery .level span {
    display: inline-block;
    background-color: gray;
    border-radius: .5rem;
    padding: .2rem .4rem;
    width: 80%;
    font-size: 18px;
    font-weight: 700;
}

.mastery .level.level-7 span {
    background-color: cyan;
    color: black;
}

.mastery .level.level-6 span {
    background-color: purple;
}

.mastery .level.level-5 span {
    background-color: darkred;
}