.App > header {
    padding: 25px;
    background-color: #1d1d1d;
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-search input,
.form-search button {
    font-size: 1rem;
    padding: .5rem .8rem;
}

.form-search input {
    width: 30%;
    outline: none; 
    border: none;
    border-radius: 1px;
}

.form-search button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: .1rem;
    font-weight: bold;
}

.form-search button:hover {
    background-color: #ddd;
}

.wrapper {
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 8px;
}

.summoner-content {
    display: flex;
    margin-top: 2rem;
}

.match-list,
.mastery-list {
    width: 50%;
}

.mastery-list {
    margin-left: 2rem;
    align-self: center;
}

.match-list {
    margin: 0 auto;
    border-right: 2px solid black;
    padding-right: 2rem;
    overflow: auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1600px) {
    .match-list {
        padding-right: 1rem;
    }

    .mastery-list {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .form-search input {
        width: 40%;
    }
}

@media only screen and (max-width: 1000px) {
    .summoner-content {
        flex-direction: column;
    }

    .match-list {
        margin: 0;
        width: 100%;
        border: none;
    }

    .mastery-list {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 750px) {
    .form-search input {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .form-search input {
        width: 100%;
    }

    .match-list {
        padding: 0;
        overflow: scroll;
    }
}