.App > header {
    padding: 25px;
    background-color: #1d1d1d;
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-search input,
.form-search button {
    font-size: 1rem;
    padding: .5rem .8rem;
}

.form-search input {
    width: 30%;
    outline: none; 
    border: none;
    border-radius: 1px;
}

.form-search button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: .1rem;
    font-weight: bold;
}

.form-search button:hover {
    background-color: #ddd;
}

.wrapper {
    /* background-color: #1e569f; */
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 8px;
    /* max-width: 1400px; */
}

.match-list {
    width: 70%;
    margin: 60px auto;
}

.match-list h2 {
    text-align: center;
    margin-bottom: 30px;
}